*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

input button select {
    font-family: inherit;
}

.homeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homeContainer .cardContainer{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Hanken Grotesk;
    box-shadow:  -4px 7px 12px hsl(208, 85%, 45%, 0.3);
    border-radius: 1.5rem;
}

.homeContainer .cardContainer .blueContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-radius: 1.5rem;
    padding: 2rem;
    max-width: 17rem;
}

.homeContainer .cardContainer .blueContainer .head{
    font-size: 1.125rem;
    color: white;
    opacity: 0.6;
}

.homeContainer .cardContainer .blueContainer .result{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.homeContainer .cardContainer .blueContainer .result h1{
    font-size: 3rem;
    color: white;
}

.homeContainer .cardContainer .blueContainer .result p{
    font-size: 1.125rem;
    color: white;
    opacity: 0.6;
}

.homeContainer .cardContainer .blueContainer .message{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeContainer .cardContainer .blueContainer .message *{
    text-align: center;
}

.homeContainer .cardContainer .blueContainer .message h4{
    color: white;
    font-size: 1.5rem;
}

.homeContainer .cardContainer .blueContainer .message p{
    font-size: 1.125rem;
    color: white;
    opacity: 0.6;
}

.homeContainer .cardContainer .whiteContainer{
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeContainer .cardContainer .whiteContainer .head{
    font-size: 1.125rem;
    color: black;

}

.homeContainer .cardContainer .whiteContainer .body{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


/* resultbreakdwon-1 */

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 100%, 67%, 0.1);
}



.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .title{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .title .icon{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .title .icon img{
    position: absolute;
    object-fit: contain;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .title .name{
    font-size: 1rem;
    color: hsl(0, 100%, 67%);
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .score{
    font-size: 1.125rem;
    font-weight: bold;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-1 .score span{
    opacity: 0.35;
}


/* resultbreakdown-2 */

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(39, 100%, 56%, 0.1);
}



.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .title{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .title .icon{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .title .icon img{
    position: absolute;
    object-fit: contain;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .title .name{
    font-size: 1rem;
    color: hsl(39, 100%, 56%);
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .score{
    font-size: 1.125rem;
    font-weight: bold;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-2 .score span{
    opacity: 0.3;
}

/* resultbreakdown-3 */

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(166, 100%, 37%, 0.1);
}



.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .title{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .title .icon{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .title .icon img{
    position: absolute;
    object-fit: contain;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .title .name{
    font-size: 1rem;
    color: hsl(166, 100%, 37%);
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .score{
    font-size: 1.125rem;
    font-weight: bold;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-3 .score span{
    opacity: 0.3;
}

/* resultbreakdown-4 */

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(234, 85%, 45%, 0.1);
}



.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .title{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .title .icon{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .title .icon img{
    position: absolute;
    object-fit: contain;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .title .name{
    font-size: 1rem;
    color: hsl(234, 85%, 45%);
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .score{
    font-size: 1.125rem;
    font-weight: bold;
}

.homeContainer .cardContainer .whiteContainer .body .resultBreakdown-4 .score span{
    opacity: 0.3;
}


/* action */

.homeContainer .cardContainer .whiteContainer .action{
    background-color: hsl(224, 30%, 27%);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 2rem;
}


@media screen and (max-width: 650px) {
    .homeContainer {
        align-items: start;
        width: 100%;
        height: 100vh;
    }
    .homeContainer .cardContainer{
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
    }    
    
    .homeContainer .cardContainer .blueContainer{
        min-width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}